/* ELEMENT STYLES */

div p {font-family: Helvetica, Arial, sans-serif; font-size:12px;}
h2 {font-size:18px; color:#004F90; border-bottom: 1px solid #F39200}
h3 {font-size:14px; color:#004F90; border-bottom: 1px solid #004F90}
div.remarks {margin-left: 10px; border-left: 2px solid #004F90; padding-left: 10px;}
p.center {text-align: center; font-weight: bold;}
hr.bottom {border-top: 1px solid #999999;}
hr.blue {border-top: 1px solid #004F90;}
hr.orange {border-top: 2px solid #F39200;}
table th td.insp {
  border: 1px solid #999999;
  border-collapse: collapse;
  padding: 5px;
  }
td.left {width: 75%;}
td.right {width: 25%; vertical-align: top;}
img.header {float: right; vertical-align: middle;}
img.centered {display: block; margin-left: auto; margin-right: auto; width: 50%; border-radius: 2px;}
img.attachments {border-radius: 2px;}

/* BLOCK CLASSES */

.row {font-family: Helvetica, Arial, sans-serif; font-size:12px; padding:5px;}
/* Create two equal columns that floats next to each other */
.column {float: left; width: 50%;}
/* Clear floats after the columns */
.row:after {content: ""; display: table; clear: both;}
.footer {font-size:8px; vertical-align:top;}

/* SPAN CLASSES */

.conclusion {font-weight: bold; vertical-align: top;}
.embold {font-size: 16px; font-style: italic; font-weight: bold; color:#004F90}
